---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">¡Ningún artículo publicado por ahora!</p>
	{% else %}
		{% assign blog_posts = site.posts | where: "category", "blog" %}
		{% if blog_posts.size == 0 %}
        	<p class="text-center">¡Ningún artículo publicado por ahora!</p>
		{% else %}
			{% for post in site.posts %}
				{% if post.category == 'blog' %}
					{% if post.hidden != true %}
						{% include blog-post.html %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
		{% endif %}
</section>
