<div class="award-card">
    <div class="award-image">
        <img src="/assets/images/BancolombiaDataton.png" alt="Certificado Bancolombia">
    </div>
    <div class="award-content">
        <h3>Datatón Bancolombia 2022 - Top 20 Finalistas</h3>
        <p>En el 2022, asumí uno de los desafíos más emocionantes de mi carrera: la Datatón Bancolombia, una competencia nacional que reunía a mentes brillantes para resolver problemas reales con datos. El reto era tan ambicioso como inspirador: crear un sistema inteligente de recomendación de contenido, aplicando algoritmos de Inteligencia Artificial y técnicas de Procesamiento del Lenguaje Natural (NLP). Me clasifiqué entre los 20 finalistas destacados, en una competencia con decenas de equipos de todo el país.</p>
    </div>
</div>