{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <div id="particles-js"></div>
    <script>
        particlesJS.load('particles-js', '/assets/particles.json', function() {
        console.log('Particles.js cargado correctamente');
        });
    </script>
    <header class="header-home {% if site.animation %}animated{% endif %}">
    
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}
        

        <h1 class="title">{{ site.title }}</h1>
        <h2>{{ site.bio }}</h2>
        <h3 class="description">Python Backend Developer | API REST | FastAPI, PySpark, SQL/NoSQL, AWS, Linux, Docker | Data Engineer | AI & Machine Learning & NLP | Vector Database | Adaptable to Change</h3>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
