<nav class="{% if page.slug == "home" or page.title == "Inicio" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.slug != "home" and page.title != "Inicio" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
                        <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
                    </svg>
                      
                </a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.slug != "projects" and page.title != "Proyectos" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Proyectos</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.slug != "about" and page.title != "Sobre mí" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">Sobre mí</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">CV</a>
            </li>
        {% endif %}
    </ul>
</nav>
